
body {
    background-color: rgb(85, 73, 58);
    margin: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 1px;
}

.tittle {
    text-align: center;
    text-shadow: 1px 1px 3px #dfdfdf;
    color: #ffffff;
}

.box {
    padding: 20px;
    background-color: rgb(109, 100, 89);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
    font-size: 18px;
    color: #3f3f3f;
}

input, textarea, select {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(109, 100, 89);
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0.5px rgb(68, 68, 68); 
    border: 1px solid grey;
    color: #dfdfdf;
}

option {
    background-color: rgb(109, 100, 89);
}

textarea {
    height: 100px;
}

.checkbox {
    display: inline;
    width: auto;
    cursor: pointer;
}

.box-field {
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px;
    border: 1px solid white;
}

.legend {
    color: #dfdfdf;
}

.boton {
    border: none;
    width: 100% ;
    padding: 10px;
    background-color: rgb(109, 100, 89);
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0.5px rgb(68, 68, 68); 
    border: 1px solid grey;
    color: #dfdfdf;
}

a {
    color: blue;
}